# vscode
.vscode

# exclude gitkeep
!.gitkeep

# city combinations
/path_crawler/data/*

# Byte-compiled / optimized / DLL files
/path_crawler/__pycache__/*
/path_crawler/conf/__pycache__/*
__pycache__/
*.pyc