# vscode
.vscode

# data
/path_crawler/data/**/*.csv
/path_crawler/data/**/*.db
/path_crawler/data/**/*.json
/path_crawler/data/**/*.py
/path_crawler/data/api_key/

# Byte-compiled / optimized / DLL files
/path_crawler/__pycache__/*
/path_crawler/conf/__pycache__/*
__pycache__/
*.pyc