# vscode
.vscode

# city combinations
/path_crawler/data/*

# exclude gitkeep
!/**/.gitkeep


# Byte-compiled / optimized / DLL files
/path_crawler/__pycache__/*
/path_crawler/conf/__pycache__/*
__pycache__/
*.pyc